<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{user.uname}}`s Home</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/assets/css/navbar.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../static/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- Fixed navbar -->
      <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Rettiwt</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li id="home_btn" class="active"><a href="http://daoyu.online/home_page/{{ user.uid }}/0">Home</a></li>
            <li><a href="#about">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi, {{user.uname}}!<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li id="profile_btn"><a href="http://daoyu.online/profile/{{ user.uid }}/0">View Profile</a></li>
                <li><a href="http://daoyu.online">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container hidden" id="tweets">
      {% if tweets %}
      {% for tweet in tweets %}
        <div class="jumbotron" >
          <div class="row">
            <div class="col-md-8">
              <h2 id="encodedDivs"><b><a name="link" href="https://twitter.com/{{tweet.authorScreenName}}">{{tweet.authorName}}</a></b>:</h2>
            </div>
            <div class="col-md-4">
              <p align="right"><font color="grey">{{tweet.timestamp}}</font></p>
            </div>
          </div>
          <p id="encodedDivs">{{tweet.text}}</p>
          {% if tweet.hashtags %}
          <p><font color="blule">Hash tags: {{tweet.hashtags}}</font></p>
          {% endif %}
        </div>
      {% endfor %}
      <div class="col-md-offset-8 col-md-4 bot-buffer">
        <a href="http://daoyu.online/home_page/{{user.uid}}/{{user.numOfTweet}}" class="btn btn-block btn-lg btn-primary">More tweets!</a>
      </div>
      <div></div>
      {% else %}
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-8">
            <h2><b>Welcome !</b></h2>
          </div>
          <div class="col-md-4">
            <p align="right"><font color="grey"></font></p>
          </div>
        </div>
        <p>Hi, {{user.uname}}! Thanks for visiting Rettiwt! Tweets are comming SOON! Enjoy :)</p>
      </div>
      {% endif %}
      

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(function() {
        var mode = '{{mode}}';
        if(mode == 'profile') {
          console.log("profile2");
          //$('#link_to_twitter').addClass("disabled");
          $('[name="link"]').each(function() {$(this).addClass("disabled");});
          $('#home_btn').removeClass("active");
          $('#profile_btn').addClass("active");
        }
        var r = /\\u([\d\w]{4})/gi;
        $('.encodedDivs').each(function() {
          var x = $(this).text();
          x = x.replace(r, function (match, grp) {
              return String.fromCharCode(parseInt(grp, 16)); } );
          x = unescape(x);
          $(this).text(x);
        });
        $('#tweets').removeClass("hidden");
      });
    </script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../static/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
